:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1rem; /* Default font size is 16px */
  /* --mono: "Courier New", Courier, monospace;
    --sans: "Courier New", Courier, monospace; */
  /* --mono: 'Roboto Mono', monospace;
    --sans: 'Roboto', sans-serif; */
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
  --highlight-color: #9fe2bf; /* Highlight color for keywords */
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  background-color: var(--white);
  color: var(--black);
  font-family: var(--sans);
  background-color: var(--black);
  color: white;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--magenta);
}

a:hover {
  text-decoration: none;
  color: var(--hotmag);
}

img {
  width: 100%;
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 23, 228, 1) 0%,
    rgba(134, 251, 251, 1) 100%
  );
  height: 2px;
}

.button {
  background-color: var(--magenta);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-family: var(--mono);
}

.button:hover {
  color: white;
  background-color: var(--hotmag);
}

#intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intro .name {
  font-size: 1rem; /* 0.75rem = 12px */
  font-family: var(--mono);
}

#intro .name span {
  font-family: var(--sans);
  font-size: 4rem;
  font-weight: 300;
  display: block;
  color: #40e0d0;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro h2 {
  font-size: 4rem;
}

#intro .highlight {
  font-weight: bold;
  color: var(--highlight-color);
}

/* Contact Style */
#contact {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 4rem 0;
}

#contact p {
  margin-bottom: 2rem;
}

#contact p:last-child {
  margin-top: 3rem;
}

.section-plum {
  background-color: var(--plum);
}

/* navigation */
nav {
  font-size: 80%;
  padding: 4rem 1rem;
  font-family: var(--mono);
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
  /* 
    Block-Level Element:
    By default, <a> elements are inline elements, which means they only take up as much width as necessary and do not start on a new line.
    Setting display: block; makes the <a> elements behave like block-level elements, which means each <a> will take up the full width of its parent container and start on a new line.

    Full Width:
    The <a> elements will stretch to occupy the entire width of their parent container (in this case, likely the <li> elements within the nav).

    Clickable Area:
    The entire area of the block is clickable. This means that not just the text, but the entire width and height of the <a> element will respond to user interactions (such as clicks). 
    */
}

nav h1 {
  font-family: var(--sans);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav ul a {
  text-decoration: none;
  color: var(--white);
}

nav [class*="fa-"] {
  font-size: 150%;
  color: var(--aqua);
}

nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--aqua);
}

nav [class*="fa-"]:hover,
nav a:hover {
  color: var(--magenta);
}

/* Project Styles */

.section-blue {
  background-color: var(--dkblue);
}

.blackbox {
  padding: 1rem;
  border-radius: 10px;
  color: white;
  background-color: var(--black);
  font-size: 1rem;
  line-height: 1.5;
}

#projects {
  padding: 4rem 1rem;
}

#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}

#projects h3 {
  color: var(--aqua);
}

#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
}

#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* his applies the CSS Flexible Box Layout Module (flexbox) to the <ul>, turning it into a flex container. This allows for flexible alignment and distribution of its child elements (the list items). */
  flex-flow: row wrap;
  /* This sets the flex container to display its children in a row (horizontally) and to wrap them onto the next line if there's not enough space on one line. The flex-flow property is a shorthand for setting both flex-direction and flex-wrap properties.
    row: The flex items are placed in a horizontal line.
    wrap: The flex items will wrap onto multiple lines if necessary. */
  justify-content: flex-start;
  /* This aligns the flex items at the start of the flex container, meaning they will be aligned to the left (in left-to-right languages). justify-content defines the alignment along the main axis (which is horizontal when flex-direction: row). */
  gap: 1rem;
  /* This sets the gap (space) between flex items to 1rem. The rem unit is relative to the root element's font size, providing consistent spacing regardless of other sizing factors. */
  font-size: 1rem;
}

#projects img {
  margin: 2rem 0 4rem 0;
  padding: 1rem;
  /* This adds 1rem of padding inside the image element. Padding adds space inside the element's border. */
  border-left: 1px solid var(--aqua);
  border-top: 1px solid var(--aqua);
  border-radius: 25px;
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    /* This sets the maximum width of the nav element to 1200 pixels. The nav element will not grow beyond this width even if the viewport is wider. */
    margin: 0 auto;
    /* This centers the nav element horizontally within its parent container by setting the left and right margins to auto. */
  }
  nav li:first-child {
    flex-basis: auto;
    /* This sets the initial main size of the first li element based on its content. It allows the item to take up only as much space as necessary. */
    text-align: left;
    /* This aligns the text content of the first li element to the left. */
    margin-right: auto;
    /* old way This pushes the first li element to the left side of the nav container and pushes the other li elements to the right. This is commonly used in flexbox layouts to create space between items. */
    flex-grow: 1;
  }
}

@media (min-width: 800px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }
  #projects {
    max-width: 1200px;
    margin: 0 auto;
  }
  #projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }
  .text {
    grid-column: 5/11;
    grid-row: 1/2;
    order: 2;
    text-align: right;
  }
  #projects ul {
    justify-content: flex-end;
  }
  #projects .reverse .text {
    grid-column: 1/7;
    order: 2;
    text-align: left;
  }
  #projects .reverse img {
    grid-column: 6/11;
    grid-row: 1/2;
  }
  #projects .reverse ul {
    justify-content: flex-start;
  }
}
