:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1rem; /* Default font size is 16px */
    /* --mono: "Courier New", Courier, monospace;
    --sans: "Courier New", Courier, monospace; */
    --mono: 'Roboto Mono', monospace;
    --sans: 'Roboto', sans-serif;
    --highlight-color: #9FE2BF; /* Highlight color for keywords */
}

html {
    box-sizing: border-box;
    font-size: 16px;;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    background-color: var(--white);
    color: var(--black);
    font-family: var(--sans);
    background-color: #212F3C;
    color: white;
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    color: var(--magenta);
}

a:hover {
    text-decoration: none;
    color: var(--hotmag);
}


#intro {
    padding: 4rem 1rem 10rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

#intro .name {
    font-size: 1rem; /* 0.75rem = 12px */
    font-family: var(--mono);
}

#intro .name span {
    font-family: var(--sans);
    font-size: 4rem;
    font-weight: 300;
    display: block;
    color: #40E0D0;
}


#intro p {
    font-size: 1rem;
    line-height: 1.5;
}

#intro h2 {
    font-size: 4rem;
}

#intro .highlight {
    font-weight: bold;
    color: var(--highlight-color);
}



